# HTID:21848793: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:21848793:
Options +FollowSymLinks
RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


RewriteRule ^login$ index.php [L]
RewriteRule ^Ventas$ sales.php [L]
RewriteRule ^Productos$ products.php [L]
RewriteRule ^Insumos$ supplies.php [L]
RewriteRule ^Reportes$ reports.php [L]
RewriteRule ^Usuarios$ users.php [L]
RewriteRule ^OrdenesCompra$ purchaseOrders.php [L]
RewriteRule ^Cuenta$ acount.php [L]
RewriteRule ^logout$ /modules/logoutSesion.php [L]

RewriteRule ^login/(.*)/(.*)/(.*)/(.*)$ /modules/loginSesion.php?name=$1&rfc=$2&email=$3&type=$4 [L]